<ion-card class="no-margin marca">
  <ion-card-content>
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="5">
          <ion-avatar>
            <img src="https://www.bang-olufsen.com/~/media/images/bang-olufsen-attention-logo.png">
          </ion-avatar>
        </ion-col>
        <ion-col size="6" offset="1">
          <h5><b>Titulo</b></h5>
          <small>XXXX products</small>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>