<ion-grid class="ponerPadding" style="height:100vh;background-color: rgba(128, 128, 128, 0.096);">
  <ion-row style="margin-bottom: 40px;">
    <span style="margin: auto;">Tienda</span>
  </ion-row>
  <ion-row style="margin-bottom: 40px;">
    <span style="margin: auto;">Todo en un solo lugar</span>
  </ion-row>



  <ion-row style="margin-bottom: 70px;">
    <ion-icon name="airplane-outline"></ion-icon>
    <span style="margin: auto;">Iniciar Sesión</span>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-row>
  <ion-row style="margin-bottom: 70px;">
    <ion-icon name="airplane-outline"></ion-icon>
    <span style="margin: auto;">Explorar</span>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-row>
  <ion-row style="margin-bottom: 70px;">
    <ion-icon name="airplane-outline"></ion-icon>
    <span style="margin: auto;">Carro</span>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-row>
  <ion-row style="margin-bottom: 70px;">
    <ion-icon name="airplane-outline"></ion-icon>
    <span style="margin: auto;">Ofertas</span>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-row>
  <ion-row style="margin-bottom: 80px;">
    <ion-icon name="airplane-outline"></ion-icon>
    <span style="margin: auto;">Lo Más Vendido</span>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-row>


  <ion-row>
    <ion-icon name="airplane-outline"></ion-icon>
    <span style="margin: auto;">Quiénes Somos</span>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-row>
</ion-grid>
