.mismaAltura{
    height: 40px;
    --border-radius: 20px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.camera-button{
    height: 39px;
     margin:0px; 
    --border-radius: 50%;
}
.img1{
    margin-top: 30px;
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    height:200px;
    background-size: cover;
    background-image: url('https://akm-img-a-in.tosshub.com/indiatoday/images/bodyeditor/201908/Xiaomi_Mi_A3_9_1-x675.jpg?1PXOMsUhldkDD0Z8oLz8u3MKV2NKOj11');
}

.ponerPadding{
    padding:30px 60px;
}
@media(max-width:991px){
    .menuHorizontal{
        display: none;
    }
    
    .ponerPadding{
        padding:15px;
    }
}