.mismaAltura{
    height: 40px;
    --border-radius: 20px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.camera-button{
    height: 39px;
     margin:0px; 
    --border-radius: 50%;
}
.img1{
    margin-top: 30px;
    border-radius: 5px;
    height: 25vh;
    width: 100%;
}